tr,
td,
th {
    border: 2px solid;
    margin: 0px;
    padding: 0px;
    font-size: 12px;
}


.bg-transparent {
    background: transparent;
    border: none;
}

.inp-price {
    width: 40px;
    font-size: 10px;
}

.inp-pos {
    width: 20px;
    font-size: 10px;
}

.inp-per {
    font-size: 12px;
    width: 28px;
    font-weight: 700;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.wraptext {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 150px;
}

.link {
    text-decoration-line: none;
    color: black;
}

.date-col {
    min-width: 102px;
    min-height: 36px;
}

.remark-col {
    min-width: 150px;
}

.high-col,
.low-col {
    width: 70px;
    min-width: 70px;
}